<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= widget.title.titleize %>, <i><%= widget.postcode %></i></h3>
	</div>
	
	<div class="panel-body">
		<div class="col-lg-6">
			<div class="col-lg-6">
				<h3>Price</h3>
				<%= form_tag buy_widget_path(widget) do %>
	                <script src="https://checkout.stripe.com/v2/checkout.js"
	                	class="stripe-button"
	                	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	                	data-description="<%= widget.title %>"
	                	data-amount="<%= widget.price.to_i * 100 %>"
	                	data-currency="gbp">
	                </script>
	            <% end %>
			</div>

			<div class="col-lg-6">
				<h3><%= number_to_currency widget.price, :unit => "£" %></h3>
			</div>
		</div>

		<div class="col-lg-6">
			<h3>Widget Description</h3>
			<%= widget.description %>
		</div>
	</div>
</div>